<footer class="container-fluid py-3 rodape">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <h5>{{footer.title}}</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape" href="{{footer.linkhome}}">Home</a></li>
                        <li><a class="link-rodape" href="{{footer.linkSobre}}">Sobre</a></li>
                        <li><a class="link-rodape" href="{{footer.linkContato}}">Contato</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <h5>{{footer.titleContact}}</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape" href="{{footer.linkcontactone}}">{{footer.contactOne}}X</a></li>
                        <li><a class="link-rodape" href="{{footer.linkcontacttow}}">{{footer.contactTow}}</a></li>
                        <li>{{footer.contactOnethree}}</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <h5>{{footer.titleFollow}}</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape" href="{{footer.followOne}}" target="_blank">Instagram</a></li>
                        <li><a class="link-rodape" href="{{footer.followTow}}" target="_blank">Facebook</a></li>
                        <li><a class="link-rodape" href="{{footer.followThree}}" target="_blank">YouTube</a></li>
                        <li><a class="link-rodape" href="{{footer.followFor}}" target="_blank">Twiter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>