<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Sobre</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/sobre/edit-sobre" class="btn btn-outline-warning btn-sm">Editar</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="">Editar</a>
                    
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9 mt-2">{{sobre._id}}</dd>

            <dt class="col-sm-3">Titulo img</dt>
            <dd class="col-sm-9 mt-2">{{sobre.title}}</dd>

            <dt class="col-sm-3">Subtitulo img</dt>
            <dd class="col-sm-9 mt-2">{{sobre.subtitle}}</dd>

            <dt class="col-sm-3 text-truncate">Titulo</dt>
            <dd class="col-sm-9 mt-2">{{sobre.descrip_one}}</dd>

            <dt class="col-sm-3 text-truncate">Descrição</dt>
            <dd class="col-sm-9 mt-2">{{sobre.descrip_tow}}</dd>

            <dt class="col-sm-3 text-truncate">1º Icone</dt>
            <dd class="col-sm-9 mt-2">{{sobre.iconUm}} - <i class="{{sobre.iconUm}}"></i></dd>

            <dt class="col-sm-3 text-truncate">1º Titulo</dt>
            <dd class="col-sm-9 mt-2">{{sobre.tituloUm}}</dd>

            <dt class="col-sm-3 text-truncate">1º Descrição</dt>
            <dd class="col-sm-9 mt-2">{{sobre.descricaoUm}}</dd>

            <dt class="col-sm-3 text-truncate">2º Icone</dt>
            <dd class="col-sm-9 mt-2">{{sobre.iconDois}} - <i class="{{sobre.iconDois}}"></i></dd>

            <dt class="col-sm-3 text-truncate">2º Titulo</dt>
            <dd class="col-sm-9 mt-2">{{sobre.tituloDois}}</dd>

            <dt class="col-sm-3 text-truncate">2º Drescrição</dt>
            <dd class="col-sm-9 mt-2">{{sobre.descricaoDois}}</dd>

            <dt class="col-sm-3 text-truncate">3º Icone</dt>
            <dd class="col-sm-9 mt-2">{{sobre.iconTres}} - <i class="{{sobre.iconTres}}"></i></dd>

            <dt class="col-sm-3 text-truncate">3º Titulo</dt>
            <dd class="col-sm-9 mt-2">{{sobre.tituloTres}}</dd>

            <dt class="col-sm-3 text-truncate">3º Drescrição</dt>
            <dd class="col-sm-9 mt-2">{{sobre.descricaoTres}}</dd>

            <dt class="col-sm-3 text-truncate">Titulo Botão</dt>
            <dd class="col-sm-9 mt-2">{{sobre.btntitle}}</dd>
            <dt class="col-sm-3 text-truncate">Imagem de Fundo</dt>
            <dd class="col-sm-9 mt-2"><img src="/img/descr-top-sobre.jpg" class="img-fluid" alt="Imagem de Fundo"></dd>
            

        </dl>
    </div>
</div>